<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="Nova" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button label="Eliminar" icon="pi pi-trash" severity="secondary" [disabled]="selectedTransactions.length === 0" outlined (onClick)="deleteSelectedProducts()" />
  </ng-template>
</p-toolbar>

<app-generic-table
    [title]="'Transações'"
    [data]="transactions()"
    [columns]="columns"
    [paginator]="true"
    [showCheckbox]="true"
    [rows]="5"
    [loading]="loading()"
    (rowClick)="onRowClick($event)"
    (selectionChange)="onSelectionChange($event)">
    <!-- Custom header -->
    <ng-template #headerTemplate>
  <div class="flex justify-between items-center mb-4">

    <!-- Título -->
    <h2 class="text-xl font-semibold text-gray-800">
      Transações
    </h2>

    <!-- Saldo -->
    <div class="flex flex-col items-end bg-green-50 border border-green-200 px-4 py-2 rounded-lg">
      <span class="text-xs text-green-700">
        Saldo atual
      </span>
      <span class="text-lg font-bold text-green-800">
        {{ userBalance() | number:'1.2-2' }} €
      </span>
    </div>

  </div>
</ng-template>

</app-generic-table>


<app-transaction-form
  [(visible)]="dialogVisible"
  [model]="selectedTransaction"
  [isEdit]="isEdit"
  (saveTransaction)="loadTransactions()"
  [idObject]="SelectedRowId"
  >
</app-transaction-form>

<ng-template #amountTemplate let-row>
  <span
    [style.color]="row.isIncome ? '#2e7d32' : '#d32f2f'"
    style="font-weight: 600 !important; color: inherit"
    [ngStyle]="{
      color: row.isIncome ? '#2e7d32 !important' : '#d32f2f !important'
    }"
    >
    {{ row.amount }}
  </span>
</ng-template>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
