<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="Nova" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button label="Eliminar" icon="pi pi-trash" severity="secondary" [disabled]="selectedTransactions.length === 0" outlined (onClick)="deleteSelectedProducts()" />
  </ng-template>
</p-toolbar>

<app-generic-table
    [title]="'Transações'"
    [data]="transactions()"
    [columns]="columns"
    [paginator]="true"
    [showCheckbox]="true"
    [rows]="5"
    [loading]="loading()"
    (rowClick)="onRowClick($event)"
    (selectionChange)="onSelectionChange($event)">
    <!-- Custom header -->
    <ng-template #headerTemplate>
    <div class="flex justify-between items-center mb-3">
        <h2>Transações</h2>
        <button pButton label="Editar Transação" icon="pi pi-plus" (click)="openEdit()"></button>
    </div>
    </ng-template>
</app-generic-table>


<app-transaction-form
  [(visible)]="dialogVisible"
  [model]="selectedTransaction"
  [isEdit]="isEdit"
  (saveTransaction)="onSave($event)"
  [idObject]="SelectedRowId"
  >
</app-transaction-form>
