<app-generic-dialog
  [visible]="visible"
  (visibleChange)="onDialogVisibleChange($event)"
  [header]="isEdit ? 'Editar Categoria' : 'Nova Categoria'"
  [width]="'500px'"
  [content]="formContent"
  [footerTemplate]="formFooter"
></app-generic-dialog>

<!-- Conteúdo do formulário -->
<ng-template #formContent>
  <form #form="ngForm" class="p-fluid grid gap-3" (ngModelChange)="isFormValid = !!form.valid">
    <div class="p-fluid grid gap-3">

      <!-- Descrição -->
      <div class="p-field p-col-12">
        <label class="p-mb-2 font-medium">Descrição <span class="required">*</span></label>
        <input
          pInputText
          class="w-full"
          placeholder="Ex: Ginásio, Renda, Água..."
          [(ngModel)]="model.name"
          name="description"
          #description="ngModel"
          required
        />

        @if (description.invalid && (description.touched || isSubmitted)) {
          <small class="p-error" style="color: #d32f2f;">Campo obrigatório</small>
        }
      </div>
    </div>
  </form>
</ng-template>

<!-- Footer -->
<ng-template #formFooter>
  <p-button label="Cancelar" icon="pi pi-times" text (click)="close()"></p-button>
  <p-button label="Guardar" icon="pi pi-check" (click)="save()"></p-button>
</ng-template>
