<app-generic-dialog
  [visible]="visible"
  (visibleChange)="onDialogVisibleChange($event)"
  [header]="isEdit ? 'Editar Transação' : 'Nova Transação'"
  [width]="'500px'"
  [content]="formContent"
  [footerTemplate]="formFooter"
></app-generic-dialog>

<!-- Conteúdo do formulário -->
<ng-template #formContent>
  <form #form="ngForm" class="p-fluid grid gap-3" (ngModelChange)="isFormValid = !!form.valid">
    <div class="p-fluid grid gap-3">

      <!-- Descrição -->
      <div class="p-field p-col-12">
        <label class="p-mb-2 font-medium">Descrição <span class="required">*</span></label>
        <input
          pInputText
          class="w-full"
          placeholder="Ex: Pagamento da renda"
          [(ngModel)]="model.description"
          name="description"
          #description="ngModel"
          required
        />

        @if (description.invalid && (description.touched || isSubmitted)) {
          <small class="p-error" style="color: #d32f2f;">Campo obrigatório</small>
        }
      </div>

      <!-- Valor -->
      <div class="p-field p-col-12 p-md-6">
        <label class="p-mb-2 font-medium">Valor (€) <span class="required">*</span></label>
        <input
          pInputText
          type="number"
          class="w-full"
          placeholder="0.00"
          [(ngModel)]="model.amount"
          name="amount"
          #amount="ngModel"
          required
        />

        @if (amount.invalid && (amount.touched || isSubmitted)) {
          <small class="p-error" style="color: #d32f2f;">Campo obrigatório</small>
        }
      </div>

      <!-- Tipo -->
      <div class="p-field p-col-12 p-md-6">
        <label class="p-mb-2 font-medium">Tipo <span class="required">*</span></label>
        <p-select
          class="w-full"
          [options]="types"
          optionLabel="label"
          optionValue="value"
          placeholder="Selecione"
          [(ngModel)]="model.isIncome"
          required
          name="isIncome"
          #type="ngModel"
        ></p-select>

        @if (type.invalid && (type.touched || isSubmitted)) {
          <small class="p-error" style="color: #d32f2f;">Campo obrigatório</small>
        }
      </div>

      <!-- Data -->
      <div class="p-field p-col-12">
        <label class="p-mb-2 font-medium">Data</label>
        <input
          pInputText
          type="date"
          class="w-full"
          name="transactionDate"
          [(ngModel)]="model.transactionDate"
        />
      </div>
    </div>
  </form>
</ng-template>

<!-- Footer -->
<ng-template #formFooter>
  <p-button label="Cancelar" icon="pi pi-times" text (click)="close()"></p-button>
  <p-button label="Guardar" icon="pi pi-check" (click)="save()"></p-button>
</ng-template>


