<app-floating-configurator />

<div
  class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="text-center mb-8">
          <svg
            viewBox="0 0 54 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mb-8 w-16 shrink-0 mx-auto"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.1637 19.2467C17.1566 19.4033..."
              fill="var(--primary-color)"
            />
          </svg>

          <div
            class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4"
          >
            Money Flow
          </div>
          <span class="text-muted-color font-medium">Create account</span>
        </div>

        <div>
          <label
            for="name1"
            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
            >Nome</label
          >
          <input
            pInputText
            id="name1"
            type="text"
            placeholder="Your name"
            class="w-full md:w-120 mb-8"
            [(ngModel)]="name"
          />

          <label
            for="email1"
            class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
            >Email</label
          >
          <input
            pInputText
            id="email1"
            type="email"
            placeholder="Email address"
            class="w-full md:w-120 mb-8"
            [(ngModel)]="email"
          />

          <label
            for="password1"
            class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
            >Password</label
          >
          <p-password
            id="password1"
            [(ngModel)]="password"
            placeholder="Password"
            [toggleMask]="true"
            styleClass="mb-4"
            [fluid]="true"
            [feedback]="false"
          ></p-password>

          <label
            for="confirmPassword1"
            class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
            >Confirmar password</label
          >
          <p-password
            id="confirmPassword1"
            [(ngModel)]="confirmPassword"
            placeholder="Confirm password"
            [toggleMask]="true"
            styleClass="mb-4"
            [fluid]="true"
            [feedback]="false"
          ></p-password>

          <p-button
            label="Create account"
            styleClass="w-full mt-4"
            [loading]="loading"
            (onClick)="onRegister()"
          ></p-button>

          @if (errorMessage) {
            <p class="text-red-500 text-center mt-3">
              {{ errorMessage }}
            </p>
          }

          @if (successMessage) {
            <p class="text-green-600 text-center mt-3">
              {{ successMessage }}
            </p>
          }

          <div class="text-center mt-6">
            <span class="text-muted-color">Já tem uma conta?</span>
            <a
              routerLink="/auth/login"
              class="font-medium no-underline ml-2 text-primary cursor-pointer"
            >
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
